@media screen and (min-width: 200px) and (max-width: 767px)
{
    /*body:before
    {
        background: royalblue;
        position: fixed;
        content: "Responsive version mobile";
        margin-top: 6em;
        padding: 2px;
    }*/
    
    .container
    {
        width: 100%;
        /*border: 1px solid pink;*/
    }
    
    
    /**************/
    /*** HEADER ***/
    /**************/
    
    #videoDiv
    {
        display: none;
    }
    
    
    /*** Roof ***/
    
    .roof
    {
        height: 3em;
        overflow: visible;
    }
    
    .logo img
    {
        width: 2.1em;
        margin-left: 0.5em;
    }
    
    
    /*** Nav ***/
    
    .dropbtn
    {
        font-size: 18px;
    }

    .dropdown
    {
        width: 100%;
    }
    
    .dropdown-content
    {
        margin-top: 3em;
    }

    .dropdown-content a
    {
        padding: 0.8em;
        font-size: 15px; 
    }
    
    
    /** Branding **/
    
    .branding
    {
        padding: 20vw 8vw 20vw 8vw;
    }
    
    .branding h1:first-child
    {
        font-size: 2rem;
    }

    .branding h1:last-child
    {
        font-size: 1.5rem;
    }
    
    
    
    /************/
    /*** MAIN ***/
    /************/
    
    /***** Profile *****/
    
    .fa-info-circle
    {
        font-size: 1.8em;
    }
    
    .profile
    {
        padding: 8vw;
    }
    
    .profile h2
    {
        font-size: 23px;
    }

    .profile p
    {
        font-size: 16px;
    }
    
    .profile img
    {
        width: 120px;
    }
    
    a .fa-linkedin
    {
        font-size: 1.5em;
    }
    
    
    /***** Course *****/
    
    .fa-graduation-cap
    {
        font-size: 1.8em;
    }
    
    .course
    {
        padding: 8vw;
    }

    .course h2
    {
        font-size: 23px;
    }

    .course p, .course .titre p
    {
        font-size: 16px;
    }
    
    .competences
    {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    
    .competences > div
    {
        width: 90%;
        max-width: 25em;
    }

    .intitule span
    {
        font-size: 14px;
    }
    
    .lanw, .lanp
    {
        width: 30%;
    }

    .fa-html5, .fa-css3-alt, .fa-js, .fa-php, .fa-angular, .fa-bootstrap, .fa-react, .fa-java, .fa-python, .fa-android, .fa-sass
    {
        font-size: 30px;
    }

    .fa-csharp, .fa-express, .fa-bulma
    {
        width: 30px;
    }
    
    .intitule span, .lanw p, .lanp p
    {
        font-size: 14px;
    }
    
    .consulter
    {
        padding: 0.4em 0.8em;
        font-size: 14px;
    }

    
    /***** Projets *****/
    
    .fa-pen-square
    {
        font-size: 1.8em;
    }
    
    .projets
    {
        padding: 8vw;
    }
    
    .projets .titre h2
    {
        font-size: 23px;
    }
    
    .projets .titre p
    {
        font-size: 16px;
    }
    
    .fa-link
    {
        font-size: 0.8em;
    }
    
    .category
    {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        /*border: 1px solid green;*/
    }
    
    .liste
    {
        width: 90%;
        max-width: 20em;
    }
    
    .nom
    {
        height: 4.5rem;
    }
    
    .nom a, .nom h3
    {
        font-size: 14px;
    }
    
    .nom span
    {
        font-size: 12px;
    }
    
    .voir
    {
        padding: 0.4em 0.8em;
        font-size: 14px;
        height: 29.2px;
    }
    

    /***** Tâches *****/
    
    .fa-pen-square
    {
        font-size: 1.8em;
    }
    
    .taches
    {
        padding: 8vw;
    }
    
    .taches .titre h2
    {
        font-size: 23px;
    }
    
    .taches .titre p
    {
        font-size: 16px;
    }

    .liste_taches
    {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .all-tasks
    {
        grid-column: 3;
        grid-row: 1;
        max-height: none;
    }

    .todo-list
    {
        grid-column: 2 / span 3;
        grid-row: 2;
        max-height: none;
    }

    .task-list, .todo-list .task-list, .new.list, .btn.delete, .btn.edit
    {
        font-size: 13px;
    }

    .all-tasks .btn.create
    {
        font-size: 22px;
    }

    .todo-list .btn.create
    {
        font-size: 26px;
    }

    .task
    {
        font-size: 14px;
    }

    .custom-checkbox
    {
        min-width: 10px;
        min-height: 10px;
    }

    .delete-stuff
    {
        flex-direction: column;
        align-items: center;
    }

    .list-title, .list-subtitle, .task-list-title
    {
        font-size: 16px;
    }

    
    /***** Contact *****/
    
    .contact
    {
        padding: 8vw;
    }
    
    .fa-address-card
    {
        font-size: 1.8em;
    }

    .contact h2
    {
        font-size: 23px;
    }

    .contact p.texte
    {
        font-size: 16px;
    }
    
    .champ_input
    {
        flex-direction: column;
        -webkit-flex-direction: column;
    }

    .champ_input input, .champ > textarea
    {
        width: 90%;
        max-width: 25em;
        font-size: 14px;
        padding: 0.6em;
    }

    .champ_input input:hover, .champ textarea:hover, .champ_input input:focus, .champ textarea:focus
    {
        transition: none;
        background-color: rgba(255, 255, 255, 0.8);
    }

    #caracteres
    {
        font-size: 12px;
        width: 90%;
        max-width: 29em;
    }

    .champ > button.submit
    {
        padding: 0.4em 0.8em;
        font-size: 14px;
    }
    
    .fa-check-circle, .fa-exclamation-triangle, .fa-spinner
    {
        font-size: 12px;
    }
    
    .redmsg, .greenmsg, .orangemsg
    {
        font-size: 12px; 
        padding: 6px; 
        max-width: 20em;
        width: 90%;
        margin-top: -2em;
    }
    
    
    
    /**************/
    /*** FOOTER ***/
    /**************/

    .copyright h4
    {
        font-size: 9px;
        padding: 0.6em;
    }

}