/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

html 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}

body 
{
	line-height: 1;
}

ol, ul 
{
	list-style: none;
}

blockquote, q 
{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0;
}


/** Général **/

section
{
    width: 100%;
    box-shadow: inset 0 1px 2px black;
}

.container
{
    margin: auto;
    width: 80%;
    /*border: 1px solid pink;*/
}

p
{
    line-height: 130%;
}

a
{
    text-decoration: none;
}



/**************/
/*** HEADER ***/
/**************/

#header-main
{
    background: linear-gradient(rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8) 100%);
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    box-shadow: inset 0 1px 2px black;
    /*display: grid;*/
}

.header-img
{
    display: none;
}

#videoDiv
{
    z-index: -1;
    overflow: hidden;
    background-color: #ffa800;
}

#video
{
    width: 100%;
    object-fit: cover;
    min-height: 100vh;
}


/** Roof **/

.roof
{
    background-color: rgb(210, 138, 0);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 1px 2px black;
    z-index: 1;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}


/** Nav **/

.nav-main
{
    width: 80%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 0.5em;
    /*border: 1px solid blue;*/
}

/*.nav-main
{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0.5em;
    /* border: 1px solid blue; */
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
}*/


.logo
{
    width: 20%;
/*    border: 1px solid purple;*/
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: row;
    -webkit-flex-direction: row;
    color: #E2D5AB;
    /*grid-column: 1;*/
}

/*.logo
{
    /* border: 1px solid purple; */
    /*grid-column: 1;
    color: #E2D5AB;
}*/

.logo img
{
    width: 3em;
    animation: fondu 1s forwards 0.25s;
    -webkit-animation: fondu 1s forwards 0.25s;
    vertical-align: middle;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    margin: 0 0.5em 0 0.8em;
    opacity: 0;
    position: relative;
    /*border: 1px solid purple;*/
}

@keyframes fondu
{
    0% 
    {
        left: 100px;
    }
    
    30%
    {
        opacity: 0;
    }
    
    100% 
    {
        opacity: 1;
        left: 0; 
    }
}

@-webkit-keyframes fondu
{
    0% 
    {
        left: 100px;
    }
    
    30%
    {
        opacity: 0;
    }
    
    100% 
    {
        opacity: 1;
        left: 0; 
    }
}

nav
{
    width: 80%;
}

/*nav
{
    /* border: 1px solid purple; */
    /*grid-column: 2 / span 3;
}*/

nav ul
{
    text-align: right;
/*    border: 1px solid red;*/
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
}

/*nav ul
{
    text-align: right;
    /* border: 1px solid red; */
    /*display: grid;
    justify-content: end;
    align-items: center;
    grid-template-columns: repeat(5, auto);
}*/

nav li
{
    vertical-align: middle;
    margin: 0 1px 0 1px;
    padding: 1em 0 1em;
/*    border: 1px solid blue;*/
}

nav a
{
    color: #e2d5ab;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.2s linear;
    padding: 1.4em 0.9em 1.4em 0.9em;
    font-family: 'Quicksand', sans-serif;
/*    border: 1px solid blue;*/
}

.hide-menu
{
    animation: fondu1 1s forwards 0.25s;
    -webkit-animation: fondu1 1s forwards 0.25s;
    position: relative;
    opacity: 0;
}

@keyframes fondu1
{
    0% 
    {
        right: 100px;
    }
    
    30%
    {
        opacity: 0;
    }
    
    100% 
    {
        opacity: 1;
        right: 0;
    }
}

@-webkit-keyframes fondu1
{
    0% 
    {
        right: 100px;
    }
    
    30%
    {
        opacity: 0;
    }
    
    100% 
    {
        opacity: 1;
        right: 0;
    }
}

nav a:hover 
{
    background-color: rgba(91, 62, 0, 0.3);
	transition: all 0.2s linear;
}

.active, .active:hover
{
    background-color: #5b3e00; 
    transition: all 0.2s linear;
}

.dropdown
{
    display: none;
}


/** Branding **/

.branding
{
    text-align: center;
    color: #ffa800;
    padding: 5rem 2.5rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    
}

.branding h1:first-child
{
    font-size: 2.5em;
    padding: 0 1em 1em 1em;
    font-weight: 600;
}

.branding h1:last-child
{
    font-size: 2em;
    font-weight: 500;
}



/************/
/*** MAIN ***/
/************/

/** Profile **/

#about
{
    background-color: #5b3e00;
    display: flex;
    display: -webkit-flex;
    min-height: 75vh;
    /*display: grid;*/
}

.fa-info-circle
{
    font-size: 2em;
    color: white;
}

.profile
{
    padding: 5rem 2.5rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    position: relative;
    /*border: 1px solid red;*/
}

.profile h2
{
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 1rem;
}

.profile p
{
    color: white;
    font-size: 18px;
    padding: 1rem 0 0;
    font-weight: 300;
}

.profile img
{
    width: 150px;
    margin-top: 2rem;
}

a .fa-linkedin
{
	margin-left: 0.2em;
	transition: all 0.2s ease;
    vertical-align: middle;
    color: white;
    font-size: 1.7em;
}

a .fa-linkedin:hover
{
	opacity: 0.6;
	transition: all 0.2s ease;
}


/** Course **/

#course
{
    background-image: linear-gradient(rgba(91, 62, 0, 0.85) 100%, rgba(91, 62, 0, 0.85) 100%), url(../img/books.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    display: -webkit-flex;
    min-height: 75vh;
    /*display: grid;*/
}

#course div h2, #course div p
{
    color: white;
}

.fa-graduation-cap
{
    font-size: 2em;
    color: white;
}

.course
{
    text-align: center;
    /*border: 1px solid red;*/
    padding: 5rem 2.5rem;
    position: relative;
}

.course h2
{
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    padding: 1rem;
}

.course p
{
    padding: 1rem 0 0;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    line-height: 130%;
}

.competences
{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-top: 1em;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

.competences > div
{
    /*border: 1px solid yellow;*/
    width: 450px;
    margin: 0 10px;
}

.web, .logiciel
{
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-direction: row;
    -webkit-flex-direction: row;
    padding: 0 0 1rem;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    /*border: 1px solid green;*/
}

.intitule
{
    padding: 10px 0;
    border-bottom: 2px solid #d28a00;
}

.intitule span
{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 2px;
}

.lanw, .lanp
{
    margin: 0.5rem;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    width: 20%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    padding: 8px 0;
    justify-content: center;
    -webkit-justify-content: center;
}

.lanw p, .lanp p
{
    margin: 8px 0 2px;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
}

.fa-html5, .fa-css3-alt, .fa-js, .fa-php, .fa-symfony, .fa-angular, .fa-bootstrap, 
.fa-laravel, .fa-java, .fa-python, .fa-android
{
    font-size: 32px;
}

.fa-csharp
{
    width: 32px;
}

.consulter
{
    margin: 1em 0 0;
    background-color: #d28a00;
    color: white;
    padding: 0.5em 0.9em;
    border: none;
    cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	transition: all 0.2s linear;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
    font-family: 'Quicksand', sans-serif;
}

.consulter:hover 
{
	transition: all 0.2s linear;
    background-color: rgba(210, 138, 0, 0.6);
}


/***** Projets *****/

#projets
{
    /*background-color: rgb(49, 0, 0);*/
    background-image: linear-gradient(rgba(91, 62, 0, 0.85) 100%, rgba(91, 62, 0, 0.85) 100%), url(../img/img13.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    display: -webkit-flex;
    font-family: 'Quicksand', sans-serif;
    min-height: 75vh;
    /*display: grid;*/
}

.projets
{
    padding: 5rem 2.5rem;
    position: relative;
}

.fa-pen-square
{
    color: white;
}

.projets .titre
{
    width: 100%;
    padding: 0 0 1rem;
    text-align: center;
    /*border: 1px solid red;*/
}

.projets .titre h2
{
    font-size: 25px;
    font-weight: 500;
    padding: 1rem;
}

.projets .titre p
{
    color: black;
    font-size: 18px;
    padding: 1rem 0;
    font-weight: 300;
}

.projets .titre h2, .projets .titre p
{
    color: white;
}

.category
{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    width: 100%;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    margin-bottom: 1rem;
    align-items: center;
    flex-wrap: wrap;
    /*border: 1px solid green;*/
}

.liste
{
    margin: 0 1rem;
    width: 330px;
}

.liste > div
{
    margin: 0 auto 1rem;
    text-align: center;
    transition: all 0.2s ease;
}

.liste a
{
    color: white;
}

.nom
{
    margin: auto;
    padding: 5px;
    border: 2px solid #d28a00;
    transition: all 0.2s linear;
    cursor: pointer;
    width: 100%;
    height: 6rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.nom:hover
{
    border: 2px solid white;
    transition: all 0.2s linear;
}

.nom div
{
    padding: 5px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    overflow: hidden;
}

.nom div:first-child
{
    display: inline-block;
}

.nom a
{
    font-size: 16px;
    font-weight: 400;
}

.nom h3
{
    display: inline;
    margin: 0 4px;
}

.nom span
{
    color: black;
    background-color: white;
    padding: 2px 4px;
    font-size: 14px;
    margin: 2px;
}

.youtube
{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.voir
{
    background-color: #d28a00;
    color: white;
    padding: 0.5em 0.9em;
    cursor: pointer;
	font-size: 16px;
	font-weight: 400;
    transition: all 0.2s linear;
    height: 36px;
    display: flex;
    align-items: center;
}

.voir:hover 
{
	transition: all 0.2s linear;
    background-color: rgba(210, 138, 0, 0.6);
}


/***** Tâches *****/

#taches
{
    /*background-color: rgb(49, 0, 0);*/
    background-image: linear-gradient(rgba(91, 62, 0, 0.85) 100%, rgba(91, 62, 0, 0.85) 100%), url(../img/basic-fit-garges-les-gonesse3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    display: -webkit-flex;
    font-family: 'Quicksand', sans-serif;
    min-height: 75vh;
    /*display: grid;*/
}

.taches
{
    padding: 5rem 2.5rem;
    position: relative;
}

.fa-tasks
{
    color: white;
}

.taches .titre
{
    width: 100%;
    padding: 0 0 1rem;
    text-align: center;
    /*border: 1px solid red;*/
}

.taches .titre h2
{
    font-size: 25px;
    font-weight: 500;
    padding: 1rem;
}

.taches .titre h2
{
    color: white;
}

.liste_taches
{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: minmax(150px, 350px) minmax(250px, 650px);
    justify-content: center;
}

.all-tasks
{
    color: white;
    min-height: 110.4px;
    max-height: 334.4px;
}

.todo-list form
{
    display: flex;
}

.all-tasks > div:first-child
{
    background-color: black;
}

.all-tasks form
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0.4em 0.8em 1em;
}

.task-list
{
    font-size: 14px;
    line-height: 1.6;
    list-style: disc;
    padding: 0 2em;
    overflow-y: scroll;
    scrollbar-color: white black;
    scrollbar-width: thin;
    min-height: 0px;
    max-height: 224px;
    margin: 5px 0;
}

.list-scrollbar::-webkit-scrollbar 
{
    width: 10px;
    background-color: #000;
}

.list-scrollbar::-webkit-scrollbar-thumb 
{
    background-color: white; 
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.2), inset 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.todo-list .task-list
{
    font-size: 14px;
    line-height: 1.6;
    list-style: circle;
    padding-left: 1em;
}

.list-name
{
    cursor: pointer;
    overflow-wrap: break-word;
    transition: color 150ms ease-in-out;
}

.list-name:hover
{
    color: orange;
}

.btn
{
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
}

.btn.create
{
    font-size: 22px;
    font-weight: 500;
    margin-right: 0.4em;
    transition: opacity 200ms ease-in;
    margin-top: 3px;
}

.btn.create:hover
{
    opacity: 0.7;
}

.btn.delete
{
    margin-top: 6px;
    font-size: 14px;
    transition: background-color 150ms;
    padding: 4px 8px;
    background-color: #d28a00;
    color: white;
    border: none;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
}

.btn.delete:hover
{
    background-color: orange;
}

.new
{
    background: transparent;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom: 1px solid currentColor;
    color: white;
    outline: none;
    transition: border-bottom 150ms ease-in;
    order: 2;
    padding: 0.25em;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.new::placeholder
{
    opacity: 0.4;
}

.new.list:focus
{
    border-bottom: 2px solid white;
}

.new.task:focus
{
    border-bottom: 2px solid black;
}

.new:focus::placeholder
{
    opacity: 0.15;
}

.new.list
{
    font-size: 14px;
    margin-top: 3px;
}

.new.task
{
    color: black;
    margin-bottom: 0;
    height: 2em;
}

.active-list
{
    font-weight: 500;
}

.todo-list
{
    min-height: 168.8px;
    max-height: 495.2px;
}

.todo-list > div:first-child
{
    background-color: white;
}

.todo-header
{
    background: orange;
    padding: 1em;
}

.todo-body
{
    position: relative;
}

.tasks
{
    min-height: 0px;
    max-height: 330px;
    overflow-y: scroll;
    scrollbar-color: black white;
    scrollbar-width: thin;
    padding: 0 1em;
    margin: 15px 0 5px;
}

.task-scrollbar::-webkit-scrollbar 
{
    width: 10px;
    background-color: white;
}

.task-scrollbar::-webkit-scrollbar-thumb 
{
    background-color: black; 
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.2), inset 1px 1px 0px rgba(255, 255, 255, 0.2);
}

.new-task-creator
{
    padding: 0.4em 1em;
}

.new-task-creator .create
{
    color: orange;
}

[type="checkbox"]
{
    opacity: 0;
    position: absolute;
}

.task label
{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.task
{
    position: relative;
    margin-bottom: 1.25em;
    line-height: 1.2;
    font-size: 16px;
}

.task::after
{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.5em;
    height: 1px;
    background: currentColor;
    opacity: 0.1;
}

.custom-checkbox
{
    display: inline-block;
    min-width: 0.75em;
    min-height: 0.75em;
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    margin-right: 0.75em;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
}

.task:hover .custom-checkbox
{
    transform: scale(1.1);
    color: orange;
}

[type="checkbox"]:checked + label .custom-checkbox
{
    background: orange;
    border-color: orange;
    box-shadow: inset 0 0 0 1px white;
}

[type="checkbox"] + label
{
    opacity: 1;
    transition: opacity 200ms ease;
}

[type="checkbox"]:checked + label
{
    opacity: 0.5;
}

.delete-stuff
{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    padding: 0.5em 1em 1em;
}

.list-title
{
    margin: 5px 0;
    font-size: 18px;
    font-weight: 500;
    color: white;
    overflow-wrap: break-word;
}

.list-subtitle
{
    margin: 5px 0;
    font-size: 18px;
    font-weight: 400;
    color: white;
    overflow-wrap: break-word;
}

.list-header
{
    padding: 1em;
    box-shadow: inset 0 -3px 0px orange;
}

.task-list-title
{
    font-size: 18px;
    font-weight: 500;
}

.liste_taches form input, .liste_taches button
{
    font-family: 'Quicksand', sans-serif;
}


/***** Contact *****/

#contact
{
    background-color: #5b3e00;
    display: flex;
    display: -webkit-flex;
    min-height: 75vh;
    /*display: grid;*/
}

.contact
{
    text-align: center;
    padding: 5rem 2.5rem;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    position: relative;
}

.fa-address-card
{
    font-size: 2em;
    color: white;
}

.contact h2
{
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 1rem;
    font-family: 'Quicksand', sans-serif;
}

.contact p.texte
{
    color: white;
    font-size: 18px;
    padding: 1rem 0 1rem;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}

.champ_input
{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
}

.champ_input input
{
    margin: 10px 4px 0;
    width: 18em;
    padding: 0.6em;
	font-size: 16px;
	font-weight: 400;
	transition: all 0.2s ease;
	border: none;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    border-radius: 0;
    box-shadow: inset -6px 0 0 0 black;
    color: black;
}

.champ > textarea
{
    margin: 10px 4px 0;
    width: 36.5em;
    padding: 0.6em;
    box-sizing: border-box;
	font-size: 16px;
	font-weight: 400;
	height: 8.7em;
	border: none;
	background-color: rgba(255, 255, 255, 0.8);
	transition: all 0.2s ease;
	resize: none;
    font-family: 'Quicksand', sans-serif;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    border-radius: 0;
    color: black;
}

.champ_input input:hover, .champ_input input:focus, .champ textarea:hover, .champ textarea:focus
{
    transition: all 0.2s ease;
    background-color: rgba(255, 255, 255, 0.4);
}

#caracteres
{
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 3px auto;
    width: 41.6em;
}

#caracteres > b
{
    font-weight: 500;
}

.champ > button.submit
{
    margin: 1em 0 0;
    background-color: #d28a00;
    color: white;
    padding: 0.5em 0.9em;
    border: none;
    cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	transition: all 0.2s linear;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
    font-family: 'Quicksand', sans-serif;
    border-radius: 0;
}

.champ > button.submit:hover
{
	transition: all 0.2s linear;
    background-color: rgba(210, 138, 0, 0.6);
}

.fa-check-circle
{
    font-size: 14px;
    color: white;
}

.fa-exclamation-triangle
{
    font-size: 14px; 
    color: white;
}

.fa-spinner
{
    font-size: 14px;
    color: white;
}

.case_dialog
{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 2.5rem;
}

.redmsg
{
    font-family: 'Quicksand', sans-serif; 
    font-size: 14px; 
    background-color: rgba(255, 0, 0, 0.5); 
    text-align: center; 
    color: white; 
    border: 4px solid red; 
    padding: 8px;
    margin-top: -4em;
    width: 50vw;
    max-width: 30em;
    line-height: 1rem;
}

.greenmsg
{
    font-family: 'Quicksand', sans-serif; 
    font-size: 14px; 
    background-color: rgba(0, 128, 0, 0.5); 
    text-align: center;
    color: white; 
    border: 4px solid green; 
    padding: 8px; 
    margin-top: -4em;
    width: 50vw;
    max-width: 30em;
    line-height: 1rem;
}

.orangemsg
{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    background-color: rgba(204, 111, 0, 0.5);
    text-align: center;
    color: white;
    border: 4px solid darkorange;
    padding: 8px;
    margin-top: -4em;
    width: 50vw;
    max-width: 30em;
    line-height: 1rem;
}


/**************/
/*** FOOTER ***/
/**************/

#footer-main
{
    background-color: #d28a00;
    min-height: 20vh;
    box-shadow: inset 0 1px 2px black;
}

.copyright h4
{
    text-align: center;
    font-size: 11px;
    font-weight: 300;
    color: white;
    padding: 1em;
    font-family: 'Quicksand', sans-serif;
}